In [ ]:
import matplotlib.pyplot as plt

from read_pts import read_pts, write_pts, update_with_colors

In [ ]:
# df = read_pts('point_cloud.pts')
df = read_pts('input.pts')
df

Reading point cloud data

          x         y         z  intensity   r   g   b
0  0.035157 -0.032950  0.040840        128  56  71  90
1  0.034379 -0.033367  0.042780        128  63  75  97
2  0.034187 -0.033625  0.043706        128  67  78  96
3  0.033814 -0.033678  0.044213        128  68  76  89
4  0.035201 -0.033095  0.041218        128  56  71  90

In [ ]:
update_with_colors(df)
df

x            float64
y            float64
z            float64
intensity      int32
r            float64
g            float64
b            float64
dtype: object

,x,y,z,intensity,r,g,b,h,s,v
0,0.035157,-0.032950,0.040840,128,0.219608,0.278431,0.352941,0.593137,0.377778,0.352941
1,0.034379,-0.033367,0.042780,128,0.247059,0.294118,0.380392,0.607843,0.350515,0.380392
2,0.034187,-0.033625,0.043706,128,0.262745,0.305882,0.376471,0.603448,0.302083,0.376471
3,0.033814,-0.033678,0.044213,128,0.266667,0.298039,0.349020,0.603175,0.235955,0.349020
4,0.035201,-0.033095,0.041218,128,0.219608,0.278431,0.352941,0.593137,0.377778,0.352941

In [ ]:
write_pts('test.pts', df)
df

x            float64
y            float64
z            float64
intensity      int32
r              int32
g              int32
b              int32
h            float64
s            float64
v            float64
dtype: object

,x,y,z,intensity,r,g,b,h,s,v
0,0.035157,-0.032950,0.040840,128,0.219608,0.278431,0.352941,0.593137,0.377778,0.352941
1,0.034379,-0.033367,0.042780,128,0.247059,0.294118,0.380392,0.607843,0.350515,0.380392
2,0.034187,-0.033625,0.043706,128,0.262745,0.305882,0.376471,0.603448,0.302083,0.376471
3,0.033814,-0.033678,0.044213,128,0.266667,0.298039,0.349020,0.603175,0.235955,0.349020
4,0.035201,-0.033095,0.041218,128,0.219608,0.278431,0.352941,0.593137,0.377778,0.352941

white_levels = list(range(0, 256))
num_points_1 = []
num_points_2 = []

for i in white_levels:
    white_filter = (df['r'] > i) & (df['g'] > i) & (df['b'] > i)
    num_points_1.append(len(df[white_filter]))

    luminance_filter = (df['luminance'] > i)
    num_points_2.append(len(df[luminance_filter]))

plt.plot(white_levels, num_points_1, label = 'minimum rgb')
plt.plot(white_levels, num_points_2, label = "luminance")
plt.show()